$card-width: 15em;
$tags-size: 1.3rem;

$grey1: #DADCE0;
$grey2: rgb(240, 240, 240);

$green: #15A2B1;
$light-green1: #E5F7F2;
$light-green2: rgba(37, 192, 159, 0.404);
$dark-green: #007A87;

$red: #FB592D;
$pink: #FEE3E1;
$orange: #FF7A00;
$yellow: #FFF8E6;
