.hand {
  display: flex;
  position: relative;
}

.card-container {
  position: relative;
  transition-property: border;
  transition-duration: 200ms;
  border: 3px solid transparent;
  padding: 1rem;
}
.card-container img {
  width: 20vmin;
}
.card-container p {
  position: absolute;
  top: 0;
}
